#about {
  padding: 100px;
}

.about-header {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 10px;
}

.about-intro {
  margin-top: 40px;
  max-width: 700px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.1rem;
}

.about-intro p {
  color: #b0b7c3;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-image {
  position: absolute;
  right: 50px;
  top: 1000px;
}

.about-image img {
  width: 450px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.about-photo {
  width: 350px;
  height: 450px;
  border-radius: 20px;
  overflow: hidden;
}

.about-pixel-photo {
  width: 350px !important;
  height: 400px !important;
}

.tech-stack {
  display: flex;
  gap: 60px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.tech-group h3 {
  color: #64FFDA;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 15px;
}

.tech-group ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tech-group li {
  color: #b0b7c3;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: 10px;
}

.tech-stack-section {
  margin-top: 120px;
}

.tech-stack-title {
  color: #64FFDA;
  font-family: 'JetBrains Mono', monospace;
  font-size: 2rem;
  margin-top: -40px;
  margin-bottom: 30px;
}

.section-title-row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-line {
    flex: 1;
    height: 1px;

    background: linear-gradient(
        to right,
        rgba(100, 255, 218, 0.45),
        rgba(100, 255, 218, 0.05)
    );
}