#research {
  padding: 100px;
}

.research-header {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 10px;
}

.research-intro {
  margin-top: 40px;
  max-width: 650px;
  line-height: 1.6;
  color: #90e016;

  font-family: 'JetBrains Mono', monospace;
  font-size: 1.1rem;
}

.section-title-row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section-line {
  flex: 1;
  max-width: 450px;
  height: 1px;

  background: linear-gradient(
    to right,
    rgba(100,255,218,0.35),
    rgba(100,255,218,0.05)
  );
}

.research-container {
    margin-top: 60px;

    display: flex;
    flex-direction: column;

    gap: 35px;
}

.research-card {

    background: rgba(255,255,255,0.03);

    border: 1px solid rgba(100,255,218,0.18);

    border-radius: 20px;

    padding: 30px;

    backdrop-filter: blur(10px);

    transition: all 0.3s ease;
}

.research-card:hover {

    border-color: rgba(100,255,218,0.45);

    transform: translateY(-3px);
}

.research-title {

    color: white;

    font-family: 'JetBrains Mono', monospace;

    font-size: 1.55rem;

    margin-bottom: 12px;
}

.research-conference {

    color: #64FFDA;

    font-family: 'JetBrains Mono', monospace;

    font-size: 1rem;

    margin-bottom: 10px;
}

.research-authors {

    color: #AAB3C0;

    font-family: 'JetBrains Mono', monospace;

    font-size: .95rem;

    margin-top: 25px;

    margin-bottom: 18px;
}


.research-tags {

    display: flex;

    flex-wrap: wrap;

    gap: 12px;

    margin-bottom: 10px;
}

.research-tag {

    border: 1px solid rgba(100,255,218,.3);

    border-radius: 999px;

    color: #64FFDA;

    padding: 7px 14px;

    font-family: 'JetBrains Mono', monospace;

    font-size: .85rem;
}

.research-links {

    display: flex;

    gap: 20px;

    justify-content: flex-end;
}

.research-links a {

    color: #64FFDA;

    text-decoration: none;

    font-family: 'JetBrains Mono', monospace;

    transition: .25s;
}

.research-links a:hover {

    transform: translateY(-2px);

    color: white;
}

.research-summary {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 25px;
}

.research-summary li {
  color: #B0B7C3;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

.highlight-text {
  color: #64FFDA;
  font-weight: 400;
}

.published-text{
    color: #90e016;
    font-weight: 600;
}

.accepted-text{
    color: yellow;
    font-weight: 600;
}